.footer { 
    position:absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);

    background-color: #222222;
    color: lightblue;
    border-radius: 8px;

    padding-left: 24px;
    padding-right: 24px;
}

.menu {
    list-style: none;
    padding-left: 0;

    display: flex;
    justify-content: center;
    gap: 16px;
}

.menu-item {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid lightblue;
    transition: background-color 250ms ease-in,
                border-color 250ms ease-in-out,
                transform 250ms linear;
}

.menu-item:hover {
    background: rgba(80, 91, 129, 0.705);
    border-color: burlywood;
    transform: scale(1.1);
}

.footer p {
    font-size: 8px;
    margin: 0;
    
}